* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #00b7ff;
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    width: 28%;
}

nav ul li a {
    text-decoration: none;

}


@media screen and (max-width: 970px) {
    nav ul {
        width: 50%;
    }
}

@media screen and (max-width: 576px) {
    nav ul {
        display: none;
    }
}